body{
  line-height: 1.5;
  background: #fff;
  font-family: 'Karla',"Arial" ,sans-serif;
  font-weight: 400;
  font-size: 16px;

}

/* header navbar */
.header-top-section {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;

}
.logo-section{
  width: 600px;
}
nav ul{
 list-style: none;
 display: flex;
 width: 500px;
 justify-content: space-between;
 font-size: 13px;
 line-height: 15px;
 letter-spacing: -1px;
}


.navbar-item {
  text-decoration: none;
  color: #837D88;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;

}

.hero-section{
  background-color: #2D2641;
  color: #fff;
}

.link-view-plans-white {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
}

.link-view-plans-black {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #2C2830;
  text-decoration: none;

}

/* hero sectoin */
.hero-section{
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.hero-description{
  width: 540px;
  justify-content: flex-start;
}
.hero-main-img{
  width: 540px;
}
.hero-hr {
  width: 150px;
}

.hero-section h1{
  width:540px ;
  line-height: 64px;
  font-weight: 400;
  font-size: 72px;
  font-family: 'DM Serif Display',"Times New Roman",serif;

}

/* links with border */
.link-view-plans-white{
  font-size: 13px;
  font-weight: 700;

}
.link-view-plans-black{
    font-size: 13px;
    font-weight: 700;


}


/* main hr */
.main-hr{
  width: 165px;
}

/* main section */

.advantages-list{
  list-style: none;
  display: flex;

}
/* advantagesc section  */
.advantages-h2{
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  font-family: 'DM Serif Display',"Times New Roman",serif;
  font-weight: 400;

}

.advantages-h3{
  font-size: 28px;
  font-family: 'DM Serif Display',"Times New Roman",serif;
  font-weight: 400;
  line-height: 38;
  letter-spacing: 0px;

}

.how-we-work-section-aside{
  background-color: #2D2641;
}
.how-we-work-section-aside h2{
  font-size: 56px;
  color: #fff;
}


.footer-nav-bar h3{
  font-size: 13px;
  color: #837D88;

}

.footer-nav-bar a{
  font-weight: bold;
  font-size: 13px;
}
